// Variables
$base-color: #272727;
$secondary: #84828F;
$accent: #FFB140;

* {
  margin: 0;
  padding: 0px 0px;
  box-sizing: border-box;
}

body {
  background:$base-color;
  color: white;
  font-family: 'Montserrat', sans-serif;
  p {
    font-family: 'Karla', sans-serif;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.logo {
  font-size: 36px;
  letter-spacing: 10px;
}

.navbar {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: $secondary;
      }
    }
  }
}

.navActive a {
  color: $accent !important;
}

main {
  padding: 20px 10%;
}

// portfolio styles
.card-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.modalBackdrop {
  position: absolute;
  overflow: auto;
  background: rgba(0, 0, 0, .65);
  top: 0;
  right: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.modalContainer {
	background: coral;
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
  width: 960px;
  position: relative;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

.modalClose {
	background: none;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;	
	margin-bottom: 30px;
  position: absolute;
  top: 0;
  right: 0;
}